/* Write your CSS here */
.container {
  background-color: aqua;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter {
  color: red;
}
.button1 {
  border: 1px solid blue;
}
